<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Our Family</h2>
            @for(user of users; track user.id) {
            <li class="listuser">{{ user.username }}</li>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Contact us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quisquam, quod.
        </p>
</div>

<h2>Fake users details fetched from an array, and as such simulating a many2many relation without a pivot table</h2>
{{ many2manyUsers | json }}


<!-- {{ users | json }} -->