<div class="container">
    <div class="row">
      <div class="col-md-12">
    
          <h4>Please increase or decrease your x-mas spririt feeling</h4>
          <button (click)="increaseCount()" class="btn btn-primary">Increase</button>
          <button (click)="decreaseCount()" class="btn btn-danger m-1">Decrease</button>
           <p>{{ count }}pt of X-MAS SPIRIT</p>
          <!--   <p>URL api : {{ url }}</p>
            <p>URL users : {{ urlUsers }}</p> -->
            <p>{{ users | json}}</p>

            the json pipe operator 

           <input class="form-control mb-1  " type="text" [(ngModel)]="myContent">
           <select class="form-control" [(ngModel)]="user">
             <option value="1">user1</option>
             <option value="2">user2</option>
             <option value="3">user3</option>
           </select>
           {{ user }}
           <h2>{{ myContent | uppercase}}</h2>
           <button (click)="postData()" class="btn btn-primary">Post</button>

           <h3>My Shoppinglist</h3>
           @for(todo of todos; track todo.id) {
             @if (todo.done) {
               <li style="text-decoration: line-through;">{{ todo.title }} - {{ todo.owner }}</li>
             } @else {
                <li>{{ todo.title }} - {{ todo.owner }}</li>
             }
           }
      </div>
    </div>
  </div>